@page
@model SupermarketWEB.Pages.Purchases.IndexModel
@{
	ViewData["Title"] = "Index Purchases";
}

<h1>Index Purchases</h1>

<p>
	<a asp-page="Create" class="btn btn-success"> Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Purchases[0].ProviderName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Purchases[1].ProductName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Purchases[0].ProductPrice)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Purchases[0].Quantity)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Purchases[0].TotalPurchase)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Purchases[0].Observation)
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Purchases)
		{
				<tr>
					<td>
					@Html.DisplayFor(modelItem => item.ProviderName)
					</td>
					<td>
					@Html.DisplayFor(modelItem => item.ProductName)
					</td>
					<td>
					@Html.DisplayFor(modelItem => item.ProductPrice)
					</td>
					<td>
					@Html.DisplayFor(modelItem => item.Quantity)
					</td>
					<td>
					@Html.DisplayFor(modelItem => item.TotalPurchase)
					</td>
					<td>
					@Html.DisplayFor(modelItem => item.Observation)
					</td>
					<td>
						<a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
						<a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
					</td>
					<td>
						<span></span>
					</td>
				</tr>
		}
	</tbody>
</table>